
<div class="container-xxl  text-light footer wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5 px-lg-5">
        <div class="row g-5">
            <div class="col-md-6 col-lg-4">
                <p class="section-title text-white h5 mb-4">العنوان<span></span></p>
                <p><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                <p><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                <p><i class="fa fa-envelope me-3"></i>infoexample.com</p>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-outline-light btn-social" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <p class="section-title text-white h5 mb-4">الوصول بشكل اسرع <span></span></p>
                <a class="btn btn-link"routerLink="/about">المدونة</a>
                <a class="btn btn-link" routerLink="/contact">تواصل معنا</a>
                <a class="btn btn-link"routerLink="/service">دوراتنا</a>
                <a class="btn btn-link" routerLink="/cart">السلة</a>
            </div>
           
            <div class="col-md-6 col-lg-4">
                <p class="section-title text-white h5 mb-4">مرحبًا بك في بنوك النجاح<span></span></p>
                <p style="text-align: right;">
                    احصل على الموارد التعليمية والاختبارات التجريبية التي تحتاجها للنجاح في رحلتك التعليمية مع منصة "بنوك النجاح". نحن هنا لمساعدتك في تحقيق أهدافك الأكاديمية وتجاوز التحديات التعليمية بثقة وتفوق
                    </p>
                <div class="position-relative w-100 mt-3">
                    <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text" placeholder="Your Email" style="height: 48px;">
                    <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i class="fa fa-paper-plane text-primary fs-4"></i></button>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-lg-5">
        <div class="copyright">
            <div class="row">
                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">&copy; <a class="border-bottom" href="#">Success banks  </a>, All Right Reserved. 
                    
                    Designed By <a class="border-bottom" href="https://htmlcodex.com">Clentro Develober</a>
                </div>
                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="">Home</a>
                        <a href="">Cookies</a>
                        <a href="">Help</a>
                        <a href="">FQAs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>