<div class="container-xxl py-5 bg-primary hero-header">
  <div class="container my-5 py-5 px-lg-5">
    <div class="row g-5 py-5">
      <div class="col-12 text-center">
        <h1 class="text-white animated slideInDown">About Us</h1>
        <hr class="bg-white mx-auto mt-0" style="width: 90px;">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><a class="text-white" href="#">الرئيسية</a></li>
            <li class="breadcrumb-item"><a class="text-white" href="#">الصفحات</a></li>
            <li class="breadcrumb-item text-white active" aria-current="page">المدونة</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>


<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container py-5 px-lg-5">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
        <p class=" section-title text-secondary"> نبذة عنا <span></span> </p>
        <!-- <h1 class="mb-5"> </h1> -->
        <p class="dirctionn  mb-4">
          <span class="titlee" >بنوك النجاح</span>
            هي منصة تعليمية متخصصة تهدف إلى تمكين الطلاب والمتعلمين من مختلف المستويات الدراسية لتحقيق النجاح"
          في اختباراتهم وتطوير مهاراتهم التعليمية. تقدم المنصة مجموعة شاملة من الأدوات والموارد التعليمية المصممة خصيصًا
          .لدعم عملية التحضير للاختبارات بطريقة شاملة وفعالة
        </p>
        <p class="dirctionn mb-4">تتضمن منصة "بنوك النجاح" مكتبة واسعة ومتنوعة من الأسئلة التدريبية والاختبارات التجريبية في مختلف
          المواد الدراسية، مما يسمح للطلاب بممارسة واختبار معرفتهم بشكل دوري وفعّال. بالإضافة إلى الأسئلة، توفر المنصة
          .شروحات تفصيلية ومواد تعليمية توضيحية لتسهيل فهم المفاهيم الصعبة </p>

        <p class= "dirctionn mb-4">
          تعتمد "بنوك النجاح" على تقنيات حديثة في تحليل البيانات والذكاء الاصطناعي لفهم احتياجات الطلاب وتقديم توجيهات
          .مخصصة وتقارير تحليلية تفصيلية تساعدهم على تحسين نقاط الضعف وتعزيز نقاط القوة
        </p>
        <p class="dirctionn mb-4">
          وتهدف المنصة إلى بناء مجتمع تعليمي تفاعلي يسمح للمتعلمين بالتواصل وتبادل المعرفة والخبرات، مما يعزز تجربة
          .التعلم ويسهم في تعزيز الثقة والتفوق الأكاديمي
        </p>
        <p class="dirctionn mb-4">
          باستخدام منهجية تعليمية شاملة وتقنيات متقدمة، تعد منصة "بنوك النجاح" شريكًا موثوقًا وفعّالًا في رحلة الطلاب
         .نحو النجاح الأكاديمي
        </p>

        <!-- <a href="" class="btn btn-primary py-sm-3 px-sm-5 rounded-pill mt-3">Read More</a> -->
      </div>
      <div class="col-lg-6">
        <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="../../../assets/img/about.png">
      </div>
    </div>
  </div>
</div>
<!-- About End -->


<!-- Feature Start -->
<div class="container-xxl py-5">
  <div class="container py-5 px-lg-5">
    <div class="row g-4">
      <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
        <div class="feature-item bg-light rounded text-center p-4">
          <i class="fa fa-3x fa-mail-bulk text-primary mb-4"></i>
          <h5 class="mb-3">أسئلة واختبارات تدريبية متنوعة</h5>
          <p class="m-0">توفير مجموعة واسعة من الأسئلة التدريبية والاختبارات التجريبية في مختلف المواد الدراسية
            والمستويات الأكاديمية.
          <br>
          <br>
        </p>
        </div>
      </div>
      <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
        <div class="feature-item bg-light rounded text-center p-4">
          <i class="fa fa-3x fa-search text-primary mb-4"></i>
          <h5 class="mb-3">تقارير تحليلية للأداء</h5>
          <p class="m-0">توفير تقارير مفصلة تحليلية تسلط الضوء على نقاط القوة والضعف في أداء الطلاب، مما يمكنهم من
            التركيز على المجالات التي تحتاج إلى تطوير.</p>
        </div>
      </div>
      <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
        <div class="feature-item bg-light rounded text-center p-4">
          <i class="fa fa-3x fa-laptop-code text-primary mb-4"></i>
          <h5 class="mb-3"> تقنيات حديثة في التعلم </h5>
          <p class="m-0">الاعتماد على التكنولوجيا مثل الذكاء الاصطناعي وتحليل البيانات لفهم احتياجات الطلاب بشكل أفضل
            وتقديم محتوى تعليمي مخصص.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Feature End -->





<!-- Facts Start -->
<div class="container-xxl bg-primary fact py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container py-5 px-lg-5">
    <div class="row g-4">
      <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.1s">
        <i class="fa fa-certificate fa-3x text-secondary mb-3"></i>
        <h1 class="text-white mb-2" data-toggle="counter-up">1234</h1>
        <p class="text-white mb-0">Years Experience</p>
      </div>
      <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.3s">
        <i class="fa fa-users-cog fa-3x text-secondary mb-3"></i>
        <h1 class="text-white mb-2" data-toggle="counter-up">1234</h1>
        <p class="text-white mb-0">Team Members</p>
      </div>
      <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.5s">
        <i class="fa fa-users fa-3x text-secondary mb-3"></i>
        <h1 class="text-white mb-2" data-toggle="counter-up">1234</h1>
        <p class="text-white mb-0">Satisfied Clients</p>
      </div>
      <div class="col-md-6 col-lg-3 text-center wow fadeIn" data-wow-delay="0.7s">
        <i class="fa fa-check fa-3x text-secondary mb-3"></i>
        <h1 class="text-white mb-2" data-toggle="counter-up">1234</h1>
        <p class="text-white mb-0">Compleate Projects</p>
      </div>
    </div>
  </div>
</div>
<!-- Facts End -->
