<div class="container-xxl py-5 bg-primary hero-header">
  <div class="container my-5 py-5 px-lg-5">
    <div class="row g-5 py-5">
      <div class="col-12 text-center">
        <h1 class="text-white animated slideInDown">قم بتحديد أهداف تعلم طفلك وسنقوم بالاهتمــام بالأشيــاء الباقية</h1>
       
      </div>
    </div>
  </div>
</div>

<!-- Service Start -->
<div class="container-xxl py-5">
  <div class="container py-5 px-lg-5">
    <div class="wow fadeInUp" data-wow-delay="0.1s">
      <p class="section-title text-secondary justify-content-center"><span></span>كيفية الاشتراك<span></span></p>
      <h1 class="text-center mb-5">إشترك معنا بثلاث خطوات بسيطة</h1>
    </div>
    <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="service-item d-flex flex-column text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fa-solid fa-3 fa-2x"></i>
          </div>
          <h5 class="mb-3">تخصيص باقتــك وبدأ التعلم</h5>
          <p class="m-0">سيساعـدك أحد ممثلينـــــا على حجز باقــــة دروس مخصصة و مصممة خصيصًا لاحتياجاتك و احتياجات طفلك
            التعليمية طويلة المدى.</p>
          <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="service-item d-flex flex-column text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fa-solid fa-2 fa-2x"></i>
          </div>
          <h5 class="mb-3">تحديد الهــدف الدراســي</h5>
          <p class="m-0">سوف يتم تحديد الأهداف الدراسية مع مستشــار التعليـــــم الشخصي الخـــاص بــــك حتى نتمكن من
            توظيف المعلم المناسـب لطفلك.</p>
          <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="service-item d-flex flex-column text-center rounded">
          <div class="service-icon flex-shrink-0">
            <i class="fa-solid fa-1 fa-2x"></i>
          </div>
          <h5 class="mb-3">اختيار المواد</h5>
          <p class="m-0">تبدأ كل رحلة تعليمية بإختيــار المــواد و التخصصات التي يرغـب الطــالب في دراستهـــــــا ثم
            يقوم أحــد ممثلنا بالتواصل لإستكمـال عملية الإشتراك.</p>
          <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- Service End -->

<div class="container py-5">

  <div class="wow fadeInUp" data-wow-delay="0.1s">
    <p class="section-title text-secondary justify-content-center"><span></span> لماذا نحن؟<span></span></p>
    <h1 class="text-center mb-5">تعلم مع <span>بنوك النجاح</span></h1>
  </div>

  <div class="row my-3 info-succs">
    <div class="col-md-6">
      <div class="img-box">
        <img class="img-fluid" src="assets/img/portfolio-6.jpg" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="data-box">
        <h3>مساحة الدروس الافتراضية لدينا</h3>
        <p>دورات <span>بنوك النجاح</span> مليئة بالميزات التعاونية بما في ذلك السبورة البيضاء لجعل جميع الدروس تفاعلية،
          ومشاركة الملفات
          بحيث يكون الجميــــع على نفس الصفحة، و تسجيــــلات الدروس حتى تتمكن من مشاهدة أفضل الأجزاء مرة أخرى.</p>
      </div>
    </div>
  </div>

  <div class="row my-5 info-succs">
    <div class="col-md-6 ">
      <div class="data-box">
        <h3> التواصل المباشر مع المدرس</h3>
        <p> حيث يمكن للطلاب والمعلمين مشاركة مهام الواجبات المنزلية أو الدردشة حــول جدولة الدروس أو تثبيت المحادثات
          المهمة للرجوع إليها بســرعة والمراجعة المستمرة.</p>
      </div>
    </div>
    <div class="col-md-6 right-photo">
      <div class="img-box ">
        <img class="img-fluid" src="assets/img/portfolio-3.jpg" alt="">
      </div>
    </div>
  </div>

  <div class="row my-3 info-succs">
    <div class="col-md-6">
      <div class="img-box">
        <img class="img-fluid" src="assets/img/portfolio-2.jpg" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="data-box">
        <h3> دروس فردية في كل المواد</h3>
        <p>دروس في كل المواد من تعلم الفيزيــاء إلى الرياضيــــات باستخدام أحدث الأساليب التعليميـــة، يتميز مدرسونا
          بإضافــــة الإبــــداع إلى دروسهم، لكي يُخرجوا أفضل ما عند الطــالب من تفوق، ممـــا يجعلهم في تقدم مستمر وتحمس
          للتعلم.</p>
      </div>
    </div>
  </div>
</div>


<div class="container py-5">
  <div class="wow fadeInUp" data-wow-delay="0.1s">
    <p class="section-title text-secondary justify-content-center"><span></span> لكل شخص طريقته الخاصة في
      التعلم<span></span></p>
    <h1 class="text-center mb-5">لذلك الدرجات الجيدة ليست سوى مباراة مدرس</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="box">
        <img src="assets/img/portfolio-1.jpg" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="cartona">
        <div class="num1 all-tex">
          <h4>مصممة خصيصاً لك</h4>
          <p>مستشارو التعليم لدينا هم خبراء متخصصون في المطابقة، يجدوا المعلم المنـــاسب بناءً على المستوى واحتياجات
            التعلم والشخصية، حتى يحصل طفلك على أقصى استفادة من دروسه.</p>
        </div>
        <div class="num2 all-tex">
          <h4> دروس فردية عبر الإنترنت</h4>
          <p>لن يكون العثــور على المعلم المنـــاسب لطفلك مقيدًا بموقعــك أو جـــــدولك الزمني. يســـاعد الحصــــول على
            أفضل معلم مناســـــب على تعزيز ثقة كل طفل.</p>
        </div>
        <div class="num3 all-tex">
          <h4> درجات جيدة، ونتائج رائعة</h4>
          <p>تهيئ الدروس الخصوصية المخصصة لدينا الطلاب للنجــــــاح في كل المستويات وبتفوق، ستكون هذه الدرجـات الجيدة
            لطفلك هي الخطوة الأولى نحو حب التعلم مدى الحياة.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="container py-5">
  <div class="wow fadeInUp" data-wow-delay="0.1s">
    <p class="section-title text-secondary justify-content-center"><span></span>باقاتنا<span></span></p>
    <h1 class="text-center mb-5">ابدأ رحلة تعلم تدوم</h1>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="cartona">
        <div class="num1 all-tex">
          <h4>باقاتنا مرنة بما يكفي للعائلات</h4>
          <p>شارك أرصدة الدروس و الدورات مع جميــــع أفراد الأسـرة، مع تحديد المـــواد والمعلمين لكل طــالب، وأعد
            جـــدولة دروســـك عندما لا تكون متاحًا.</p>
        </div>
        <div class="num2 all-tex">
          <h4>مصممة خصيصًا لتناسب ميزانيتك</h4>
          <p>قم بتعيين تكرار الدروس ومدة باقتك للتأكد من أن سعر الباقة يناسب ميزانيتك واحتياجاتك.</p>
        </div>
        <div class="num3 all-tex">
          <h4>صنعت لتلبي أهداف التعلم</h4>
          <p>سنساعدك في تقديم المشورة لك حول أفضل بـاقـة دروس تناسب أهداف طفلك التعليمية قصيرة وطويلة الأجل.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box">
        <img src="assets/img/portfolio-1.jpg" alt="">
      </div>
    </div>
  </div>
</div>


<!-- Feature Start -->
<div class="container-xxl py-5">
  <div class="wow fadeInUp" data-wow-delay="0.1s">
    <p class="section-title text-secondary justify-content-center"><span></span>مركز المساعدة والأسئلة
      الشائعة<span></span></p>
  </div>
  <div class="container py-5 px-lg-5">
    <div class="row g-4 questions-box">
      <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
        <div class="feature-item bg-light rounded text-center questions p-4">
          <h5 class="mb-3">كيف سيكون التواصل؟</h5>
          <p class="m-0">سيكون التواصل عبر برنامج زوم أو بوتيم.</p>
        </div>
      </div>
      <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
        <div class="feature-item bg-light rounded text-center questions p-4">
          <h5 class="mb-3">كم مدة الحصة؟</h5>
          <p class="m-0">مدة الحصة 60 دقيقة كاملة.</p>
        </div>
      </div>
      <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
        <div class="feature-item bg-light rounded text-center questions p-4">
          <h5 class="mb-3">هل يوجد مدرسات؟</h5>
          <p class="m-0">نعم فريقنا بالكامل مكون من مدرسات، ومدرسين أيضا.</p>
        </div>
      </div>
      <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
        <div class="feature-item bg-light rounded text-center questions p-4">
          <h5 class="mb-3">هل يتم تبديل المدرسة إذا أردت؟</h5>
          <p class="m-0">نعم إذا لم يستجيب الطالب للمدرسة نستبدلها بأخرى.</p>
        </div>
      </div>
      <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
        <div class="feature-item bg-light rounded text-center questions p-4">
          <h5 class="mb-3">هل سيكون التواصل صوت وصورة أم صوت فقط؟</h5>
          <p class="m-0">صوت وصورة حتى نضمن تفاعل الطالب مع المدرسة، حيث يكون جميع أنواع التواصل متوفرة..</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Feature End -->
