span {
  color: #0d6efd;

}
.info-succs {
  background-color: #f8f8f8;
  border-radius: 15px;
  box-shadow: 15px 10px #0d6efd;
  display: flex;
  align-items: center;
  justify-content: center;
}
.img-box {
  width: 70%;
  margin: 10px;
}
.img-box img {
  border-radius: 30px;
  width: 100%;
}
.data-box {
  text-align: right;
}
.box {
  width: 100%;
  border-radius: 15px ;
  box-shadow: 10px 5px #888f9a;
 
}
.box img {
  width: 100%;
  border-radius: 15px;
}
.cartona {
  text-align: right;
  padding: 10px;
}
.all-tex {
  padding: 12px;
  border-radius: 15px;
  margin-bottom:8px;
}
.num1 {
  background-color: #ECF4D6;
}
.num2 {
  background-color: #9AD0C2;
}
.num3 {
  background-color: #2D9596;
}
