a {
  text-decoration: none;
}
.navbar{
  background-color: #6222cc ;
  
}
.navbar-light{
  font-family: 'Dancing Script', cursive;
font-family: 'Poppins', sans-serif !important;
}
.nav-coliction {
 background-color: #6222cc;
 font-size: 30px;
}
.cart-dirction {
  display: flex;
  align-items: center;
  color: black !important;
  font-size: 30px;

}
.collapse{
  display: flex;
  justify-content: end !important;
}
