.titlee {
  font-weight: 700;
  font-size: 19px;
  color: white;
}

.hero-header {
  padding: 10rem 0px;
  border-radius: 0px 0px 130px 130px;
}

.title {
  font-size: 19px;
  color: #6222cc;
}
.section-title {
  font-size: 30px;
  color: black !important;
  display: flex;
  justify-content: right;
}
