
        <!--  Hero Start -->
            

            <div class="container-xxl bg-primary hero-header">
                <div class="container px-lg-5">
                    <div class="row g-5 align-items-end">
                        <div class="col-lg-6 text-center text-lg-start">
                            <img class="img-fluid animated zoomIn" src="../../../assets/img/hero.png" alt="">
                        </div>
                        <div class="col-lg-6 text-center text-lg-start">
                            <h1 class="text-white mb-4 animated slideInDown">SUCCESS BANKS</h1>
                            <p class="dirctionn  mb-4">
                                <span class="titlee" >بنوك النجاح</span>
                                  هي منصة تعليمية متخصصة تهدف إلى تمكين الطلاب والمتعلمين من مختلف المستويات الدراسية لتحقيق النجاح"
                                في اختباراتهم وتطوير مهاراتهم التعليمية. تقدم المنصة مجموعة شاملة من الأدوات والموارد التعليمية المصممة خصيصًا
                                .لدعم عملية التحضير للاختبارات بطريقة شاملة وفعالة
                              </p>                            <a routerLink="/about" class="btn btn-secondary py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft">Read More</a>
                            <a routerLink="/contact" class="btn btn-light py-sm-3 px-sm-5 rounded-pill animated slideInRight">Contact Us</a>
                        </div>
                       
                    </div>
                </div>
            </div>
      
        <!--  Hero End -->


     <!-- About Start -->
<div class="container-xxl py-5">
    <div class="container py-5 px-lg-5">
      <div class="row g-5 align-items-center">
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <p class=" section-title text-secondary"> نبذة عنا </p>
          <!-- <h1 class="mb-5"> </h1> -->
          <p class="dirctionn  mb-4">
            <span class="title" >بنوك النجاح</span>
              هي منصة تعليمية متخصصة تهدف إلى تمكين الطلاب والمتعلمين من مختلف المستويات الدراسية لتحقيق النجاح"
            في اختباراتهم وتطوير مهاراتهم التعليمية. تقدم المنصة مجموعة شاملة من الأدوات والموارد التعليمية المصممة خصيصًا
            .لدعم عملية التحضير للاختبارات بطريقة شاملة وفعالة
          </p>
          <p class="dirctionn mb-4">تتضمن منصة "بنوك النجاح" مكتبة واسعة ومتنوعة من الأسئلة التدريبية والاختبارات التجريبية في مختلف
            المواد الدراسية، مما يسمح للطلاب بممارسة واختبار معرفتهم بشكل دوري وفعّال. بالإضافة إلى الأسئلة، توفر المنصة
            .شروحات تفصيلية ومواد تعليمية توضيحية لتسهيل فهم المفاهيم الصعبة </p>
  
          <p class= "dirctionn mb-4">
            تعتمد "بنوك النجاح" على تقنيات حديثة في تحليل البيانات والذكاء الاصطناعي لفهم احتياجات الطلاب وتقديم توجيهات
            .مخصصة وتقارير تحليلية تفصيلية تساعدهم على تحسين نقاط الضعف وتعزيز نقاط القوة
          </p>
          <p class="dirctionn mb-4">
            وتهدف المنصة إلى بناء مجتمع تعليمي تفاعلي يسمح للمتعلمين بالتواصل وتبادل المعرفة والخبرات، مما يعزز تجربة
            .التعلم ويسهم في تعزيز الثقة والتفوق الأكاديمي
          </p>
          <p class="dirctionn mb-4">
            باستخدام منهجية تعليمية شاملة وتقنيات متقدمة، تعد منصة "بنوك النجاح" شريكًا موثوقًا وفعّالًا في رحلة الطلاب
           .نحو النجاح الأكاديمي
          </p>
  
          <!-- <a href="" class="btn btn-primary py-sm-3 px-sm-5 rounded-pill mt-3">Read More</a> -->
        </div>
        <div class="col-lg-6">
          <img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="../../../assets/img/about.png">
        </div>
      </div>
    </div>
  </div>
  <!-- About End -->
  
  
  <!-- Feature Start -->
  <div class="container-xxl py-5">
    <div class="container py-5 px-lg-5">
      <div class="row g-4">
        <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.1s">
          <div class="feature-item bg-light rounded text-center p-4">
            <i class="fa fa-3x fa-mail-bulk text-primary mb-4"></i>
            <h5 class="mb-3">أسئلة واختبارات تدريبية متنوعة</h5>
            <p class="m-0">توفير مجموعة واسعة من الأسئلة التدريبية والاختبارات التجريبية في مختلف المواد الدراسية
              والمستويات الأكاديمية.
            <br>
          
          </p>
          </div>
        </div>
        <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.3s">
          <div class="feature-item bg-light rounded text-center p-4">
            <i class="fa fa-3x fa-search text-primary mb-4"></i>
            <h5 class="mb-3">تقارير تحليلية للأداء</h5>
            <p class="m-0">توفير تقارير مفصلة تحليلية تسلط الضوء على نقاط القوة والضعف في أداء الطلاب، مما يمكنهم من
              التركيز على المجالات التي تحتاج إلى تطوير.</p>
          </div>
        </div>
        <div class="col-lg-4 wow fadeInUp" data-wow-delay="0.5s">
          <div class="feature-item bg-light rounded text-center p-4">
            <i class="fa fa-3x fa-laptop-code text-primary mb-4"></i>
            <h5 class="mb-3"> تقنيات حديثة في التعلم </h5>
            <p class="m-0">الاعتماد على التكنولوجيا مثل الذكاء الاصطناعي وتحليل البيانات لفهم احتياجات الطلاب بشكل أفضل
              وتقديم محتوى تعليمي مخصص.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Feature End -->
  

        
   <!-- Service Start -->
   <div class="container-xxl py-5">
    <div class="container py-5 px-lg-5">
        <div class="wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="text-center mb-5">إختر من بين جميع المواد التي يقدمها بنك النجاح </h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <img src="../../../assets/img/home-imgc1.png" class="img-fluid" alt="">
                    </div>
                    <h5 class="mb-3">امسات</h5>
                    <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <img src="../../../assets/img/home-imgc1.png" class="img-fluid" alt="">
                    </div>
                    <h5 class="mb-3">امسات</h5>
                    <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <img src="../../../assets/img/home-imgc1.png" class="img-fluid" alt="">
                    </div>
                    <h5 class="mb-3">امسات</h5>
                    <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <img src="../../../assets/img/home-imgc1.png" class="img-fluid" alt="">
                    </div>
                    <h5 class="mb-3">امسات</h5>
                    <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <img src="../../../assets/img/home-imgc1.png" class="img-fluid" alt="">
                    </div>
                    <h5 class="mb-3">امسات</h5>
                    <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <img src="../../../assets/img/home-imgc1.png" class="img-fluid" alt="">
                    </div>
                    <h5 class="mb-3">امسات</h5>
                    <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->


        <!-- Newsletter Start -->
        <!-- <div class="container-xxl bg-primary newsletter py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container py-5 px-lg-5">
                <div class="row justify-content-center">
                    <div class="col-lg-7 text-center">
                        <p class="section-title text-white justify-content-center"><span></span>Newsletter<span></span></p>
                        <h1 class="text-center text-white mb-4">Stay Always In Touch</h1>
                        <p class="text-white mb-4">Diam dolor diam ipsum et tempor sit. Aliqu diam amet diam et eos labore. Clita erat ipsum et lorem et sit sed stet lorem sit clita duo justo</p>
                        <div class="position-relative w-100 mt-3">
                            <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text" placeholder="Enter Your Email" style="height: 48px;">
                            <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i class="fa fa-paper-plane text-primary fs-4"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Newsletter End -->


        <!-- Projects Start -->
        <!-- <div class="container-xxl py-5">
            <div class="container py-5 px-lg-5">
                <div class="wow fadeInUp" data-wow-delay="0.1s">
                    <p class="section-title text-secondary justify-content-center"><span></span>Our Projects<span></span></p>
                    <h1 class="text-center mb-5">Recently Completed Projects</h1>
                </div>
                <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="col-12 text-center">
                        <ul class="list-inline mb-5" id="portfolio-flters">
                            <li class="mx-2 active" data-filter="*">All</li>
                            <li class="mx-2" data-filter=".first">Web Design</li>
                            <li class="mx-2" data-filter=".second">Graphic Design</li>
                        </ul>
                    </div>
                </div>
                <div class="row g-4 portfolio-container">
                    <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.1s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="img/portfolio-1.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-1.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="bg-light p-4">
                                <p class="text-primary fw-medium mb-2">UI / UX Design</p>
                                <h5 class="lh-base mb-0">Digital Agency Website Design And Development</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.3s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="img/portfolio-2.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-2.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="bg-light p-4">
                                <p class="text-primary fw-medium mb-2">UI / UX Design</p>
                                <h5 class="lh-base mb-0">Digital Agency Website Design And Development</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.5s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="img/portfolio-3.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-3.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="bg-light p-4">
                                <p class="text-primary fw-medium mb-2">UI / UX Design</p>
                                <h5 class="lh-base mb-0">Digital Agency Website Design And Development</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.1s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="img/portfolio-4.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-4.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="bg-light p-4">
                                <p class="text-primary fw-medium mb-2">UI / UX Design</p>
                                <h5 class="lh-base mb-0">Digital Agency Website Design And Development</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item first wow fadeInUp" data-wow-delay="0.3s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="img/portfolio-5.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-5.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="bg-light p-4">
                                <p class="text-primary fw-medium mb-2">UI / UX Design</p>
                                <h5 class="lh-base mb-0">Digital Agency Website Design And Development</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 portfolio-item second wow fadeInUp" data-wow-delay="0.5s">
                        <div class="rounded overflow-hidden">
                            <div class="position-relative overflow-hidden">
                                <img class="img-fluid w-100" src="img/portfolio-6.jpg" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-square btn-outline-light mx-1" href="img/portfolio-6.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                                    <a class="btn btn-square btn-outline-light mx-1" href=""><i class="fa fa-link"></i></a>
                                </div>
                            </div>
                            <div class="bg-light p-4">
                                <p class="text-primary fw-medium mb-2">UI / UX Design</p>
                                <h5 class="lh-base mb-0">Digital Agency Website Design And Development</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- Projects End -->
