 <!--  Hero Start -->
            

 <div class="container-xxl bg-primary hero-header">
  <div class="container px-lg-5">
      <div class="row g-5 align-items-end">
          <div class="col-lg-6 text-center text-lg-start">
              <h1 class="text-white mb-4 animated slideInDown">SUCCESS BANKS</h1>
              <p class="dirctionn  mb-4">
                  <span class="titlee" >بنوك النجاح</span>
                    هي منصة تعليمية متخصصة تهدف إلى تمكين الطلاب والمتعلمين من مختلف المستويات الدراسية لتحقيق النجاح"
                  في اختباراتهم وتطوير مهاراتهم التعليمية. تقدم المنصة مجموعة شاملة من الأدوات والموارد التعليمية المصممة خصيصًا
                  .لدعم عملية التحضير للاختبارات بطريقة شاملة وفعالة
                </p>                            <a routerLink="/about" class="btn btn-secondary py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft">Read More</a>
              <a routerLink="/contact" class="btn btn-light py-sm-3 px-sm-5 rounded-pill animated slideInRight">Contact Us</a>
          </div>
          <div class="col-lg-6 text-center text-lg-start">
              <img class="img-fluid animated zoomIn hero"  src="../../../assets/img/hero.png" alt="">
          </div>
      </div>
  </div>
</div>

<!--  Hero End -->


<!-- About Start -->
<div class="container-xxl py-5">
<div class="container py-5 px-lg-5">
<div class="row g-5 align-items-center">
<div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
<p class=" section-title text-secondary"> نبذة عنا  </p>
<!-- <h1 class="mb-5"> </h1> -->
<p class="dirctionn  mb-4">
<span class="title" >بنوك النجاح</span>
هي منصة تعليمية متخصصة تهدف إلى تمكين الطلاب والمتعلمين من مختلف المستويات الدراسية لتحقيق النجاح"
في اختباراتهم وتطوير مهاراتهم التعليمية. تقدم المنصة مجموعة شاملة من الأدوات والموارد التعليمية المصممة خصيصًا
.لدعم عملية التحضير للاختبارات بطريقة شاملة وفعالة
</p>
<p class="dirctionn mb-4">تتضمن منصة "بنوك النجاح" مكتبة واسعة ومتنوعة من الأسئلة التدريبية والاختبارات التجريبية في مختلف
المواد الدراسية، مما يسمح للطلاب بممارسة واختبار معرفتهم بشكل دوري وفعّال. بالإضافة إلى الأسئلة، توفر المنصة
.شروحات تفصيلية ومواد تعليمية توضيحية لتسهيل فهم المفاهيم الصعبة </p>

<a routerLink="/about" class="btn btn-primary py-sm-3 px-sm-5 rounded-pill mt-3">Read More</a>


<!-- <a href="" class="btn btn-primary py-sm-3 px-sm-5 rounded-pill mt-3">Read More</a> -->
</div>
<div class="col-lg-6">
<img class="img-fluid wow zoomIn" data-wow-delay="0.5s" src="../../../assets/img/6403274e-db3d-47f3-a01d-e8700f660d70.jpg">
</div>
</div>
</div>
</div>
<!-- About End -->






<!-- Service Start -->
<div class="container-xxl py-5">
<div class="container py-5 px-lg-5">
  <div class="wow fadeInUp" data-wow-delay="0.1s">
      <h1 class="text-center mb-5">إختر من بين جميع المواد التي يقدمها بنك النجاح </h1>
  </div>
  <div class="row g-4">
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="service-item d-flex flex-column text-center rounded">
              <div class="service-icon flex-shrink-0">
                <img src="../../../assets/img/chat-messages-right-side-white-background.jpg" class="img-fluid" alt="">
              </div>
              <h5 class="mb-3">امسات</h5>
              <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="service-item d-flex flex-column text-center rounded">
              <div class="service-icon flex-shrink-0">
                  <img src="../../../assets/img/chat-messages-right-side-white-background.jpg" class="img-fluid" alt="">
              </div>
              <h5 class="mb-3">امسات</h5>
              <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="service-item d-flex flex-column text-center rounded">
              <div class="service-icon flex-shrink-0">
                  <img src="../../../assets/img/chat-messages-right-side-white-background.jpg" class="img-fluid" alt="">
              </div>
              <h5 class="mb-3">امسات</h5>
              <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="service-item d-flex flex-column text-center rounded">
              <div class="service-icon flex-shrink-0">
                  <img src="../../../assets/img/chat-messages-right-side-white-background.jpg" class="img-fluid" alt="">
              </div>
              <h5 class="mb-3">امسات</h5>
              <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="service-item d-flex flex-column text-center rounded">
              <div class="service-icon flex-shrink-0">
                  <img src="../../../assets/img/chat-messages-right-side-white-background.jpg" class="img-fluid" alt="">
              </div>
              <h5 class="mb-3">امسات</h5>
              <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
          </div>
      </div>
      <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          <div class="service-item d-flex flex-column text-center rounded">
              <div class="service-icon flex-shrink-0">
                  <img src="../../../assets/img/chat-messages-right-side-white-background.jpg" class="img-fluid" alt="">
              </div>
              <h5 class="mb-3">امسات</h5>
              <a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
          </div>
      </div>
  </div>
</div>
</div>
<!-- Service End -->
<!-- Service Start -->
<div class="container-xxl py-5">
<div class="container py-5 px-lg-5">
<div class="wow fadeInUp" data-wow-delay="0.1s">
<p class="section-title text-secondary justify-content-center"><span></span>كيفية الاشتراك<span></span></p>
<h1 class="text-center mb-5">إشترك معنا بثلاث خطوات بسيطة</h1>
</div>
<div class="row g-4">
<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
<div class="service-item d-flex flex-column text-center rounded">
<div class="service-icon flex-shrink-0">
<i class="fa-solid fa-3 fa-2x"></i>
</div>
<h5 class="mb-3">تخصيص باقتــك وبدأ التعلم</h5>
<p class="m-0">سيساعـدك أحد ممثلينـــــا على حجز باقــــة دروس مخصصة و مصممة خصيصًا لاحتياجاتك و احتياجات طفلك
التعليمية طويلة المدى.</p>
<a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
</div>
</div>
<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
<div class="service-item d-flex flex-column text-center rounded">
<div class="service-icon flex-shrink-0">
<i class="fa-solid fa-2 fa-2x"></i>
</div>
<h5 class="mb-3">تحديد الهــدف الدراســي</h5>
<p class="m-0">سوف يتم تحديد الأهداف الدراسية مع مستشــار التعليـــــم الشخصي الخـــاص بــــك حتى نتمكن من
توظيف المعلم المناسـب لطفلك.</p>
<a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
</div>
</div>
<div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
<div class="service-item d-flex flex-column text-center rounded">
<div class="service-icon flex-shrink-0">
<i class="fa-solid fa-1 fa-2x"></i>
</div>
<h5 class="mb-3">اختيار المواد</h5>
<p class="m-0">تبدأ كل رحلة تعليمية بإختيــار المــواد و التخصصات التي يرغـب الطــالب في دراستهـــــــا ثم
يقوم أحــد ممثلنا بالتواصل لإستكمـال عملية الإشتراك.</p>
<a class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
</div>
</div>
</div>

</div>
</div>
<!-- Service End -->


