  <!-- Service Start -->
  <div class=" py-5">
    <div class="container py-5 px-lg-5">
        <div class="wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="text-center mb-5">إختر من بين جميع المواد التي يقدمها بنك النجاح </h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column text-center rounded">
                    <div class="service-icon flex-shrink-0">
                      <img src="assets/img/chat-messages-right-side-white-background.jpg" class="img-fluid" alt="">
                    </div>
                    <h5 class="mb-3">امسات</h5>
                    <a routerLink="/subjects" class="btn btn-square" ><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column text-center rounded">
                    <div class="service-icon flex-shrink-0">
                      <img src="assets/img/chat-messages-right-side-white-background.jpg" class="img-fluid" alt="">
                    </div>
                    <h5 class="mb-3">امسات</h5>
                    <a routerLink="/subjects" class="btn btn-square"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column text-center rounded">
                    <div class="service-icon flex-shrink-0">
                      <img src="assets/img/chat-messages-right-side-white-background.jpg" class="img-fluid" alt="">
                    </div>
                    <h5 class="mb-3">امسات</h5>
                    <a routerLink="/subjects" class="btn btn-square"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column text-center rounded">
                    <div class="service-icon flex-shrink-0">
                      <img src="assets/img/chat-messages-right-side-white-background.jpg" class="img-fluid" alt="">
                    </div>
                    <h5 class="mb-3">امسات</h5>
                    <a routerLink="/subjects" class="btn btn-square"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column text-center rounded">
                    <div class="service-icon flex-shrink-0">
                      <img src="assets/img/chat-messages-right-side-white-background.jpg" class="img-fluid" alt="">
                    </div>
                    <h5 class="mb-3">امسات</h5>
                    <a routerLink="/subjects" class="btn btn-square"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <img src="assets/img/chat-messages-right-side-white-background.jpg" class="img-fluid" alt="">
                    </div>
                    <h5 class="mb-3">امسات</h5>
                    <a routerLink="/contact" class="btn btn-square"><i class="fa fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container py-5 px-lg-5">
      <div class="row g-5 align-items-center">
        <div class="col-lg-6">
            <img class=" wow zoomIn w-100" data-wow-delay="0.5s" src="assets/img/students-with-illustration-creativity-ideas-light-bulb.jpg">
          </div>
        <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
          <p class=" section-title text-secondary"> لما عليك اختيارنا  ؟  </p>
          <!-- <h1 class="mb-5"> </h1> -->
          <p class="dirctionn  mb-4">
            <span class="titlee" >بنوك النجاح</span>
              هي منصة تعليمية متخصصة تهدف إلى تمكين الطلاب والمتعلمين من مختلف المستويات الدراسية لتحقيق النجاح"
            في اختباراتهم وتطوير مهاراتهم التعليمية. تقدم المنصة مجموعة شاملة من الأدوات والموارد التعليمية المصممة خصيصًا
            .لدعم عملية التحضير للاختبارات بطريقة شاملة وفعالة
          </p>
          <p class="dirctionn mb-4">تتضمن منصة "بنوك النجاح" مكتبة واسعة ومتنوعة من الأسئلة التدريبية والاختبارات التجريبية في مختلف
            المواد الدراسية، مما يسمح للطلاب بممارسة واختبار معرفتهم بشكل دوري وفعّال. بالإضافة إلى الأسئلة، توفر المنصة
            .شروحات تفصيلية ومواد تعليمية توضيحية لتسهيل فهم المفاهيم الصعبة </p>
  
          <p class= "dirctionn mb-4">
            تعتمد "بنوك النجاح" على تقنيات حديثة في تحليل البيانات والذكاء الاصطناعي لفهم احتياجات الطلاب وتقديم توجيهات
            .مخصصة وتقارير تحليلية تفصيلية تساعدهم على تحسين نقاط الضعف وتعزيز نقاط القوة
          </p>
          <p class="dirctionn mb-4">
            وتهدف المنصة إلى بناء مجتمع تعليمي تفاعلي يسمح للمتعلمين بالتواصل وتبادل المعرفة والخبرات، مما يعزز تجربة
            .التعلم ويسهم في تعزيز الثقة والتفوق الأكاديمي
          </p>
          <p class="dirctionn mb-4">
            باستخدام منهجية تعليمية شاملة وتقنيات متقدمة، تعد منصة "بنوك النجاح" شريكًا موثوقًا وفعّالًا في رحلة الطلاب
           .نحو النجاح الأكاديمي
          </p>
  
          <!-- <a href="" class="btn btn-primary py-sm-3 px-sm-5 rounded-pill mt-3">Read More</a> -->
        </div>
        
      </div>
    </div>
  </div>
  <!-- About End -->
   <!-- Testimonial Start -->
   <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s" dir="rtl">
    <div class="container py-5 px-lg-5">
        <h1 class="text-center mb-5">خدماتنا</h1>
       <div class="row">
          <div class="col-md-12">
            <div class="card card-action mb-4">
              <div class="card-header">
                <div class="card-action-title">أسئلة واختبارات تدريبية متنوعة </div>
                <div class="card-action-element">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <a href="javascript:void(0);" class="card-collapsible"><i class="tf-icons ti ti-chevron-right scaleX-n1-rtl ti-sm"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="collapse show">
                <div class="card-body">
                  <p class="card-text">
                    توفير مجموعة واسعة من الأسئلة التدريبية والاختبارات التجريبية في مختلف المواد الدراسية والمستويات الأكاديمية.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card card-action mb-4">
              <div class="card-header">
                <div class="card-action-title"> تقارير تحليلية للأداء </div>
                <div class="card-action-element">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <a href="javascript:void(0);" class="card-collapsible"><i class="tf-icons ti ti-chevron-right scaleX-n1-rtl ti-sm"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="collapse show">
                <div class="card-body">
                  <p class="card-text">
                    توفير تقارير مفصلة تحليلية تسلط الضوء على نقاط القوة والضعف في أداء الطلاب، مما يمكنهم من التركيز على المجالات التي تحتاج إلى تطوير.                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="card card-action mb-4">
              <div class="card-header">
                <div class="card-action-title">تقنيات حديثة في التعلم</div>
                <div class="card-action-element">
                  <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                      <a href="javascript:void(0);" class="card-collapsible"><i class="tf-icons ti ti-chevron-right scaleX-n1-rtl ti-sm"></i></a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="collapse show">
                <div class="card-body">
                  <p class="card-text">
                    الاعتماد على التكنولوجيا مثل الذكاء الاصطناعي وتحليل البيانات لفهم احتياجات الطلاب بشكل أفضل وتقديم محتوى تعليمي مخصص.                  </p>
                </div>
              </div>
            </div>
          </div>
       </div>
    </div>
</div>
<!-- Testimonial End -->