<section>
    <div class="container">
       <div class="text text-center mt-5">
        <h3>ما المواد التي ترغب في امتحانها</h3>
        <small>قم بتحديد المواد التي ترغب في امتحانها من بنك النجاح   </small>
       </div>
       <div class="row g-4 mt-5">
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="service-item d-flex flex-column text-center rounded">
                <div class="service-icon flex-shrink-0">
                  <img src="assets/img/chat-messages-right-side-white-background.jpg" class="img-fluid" alt="">
                </div>
                <h5 class="mb-3">اللغة الإنجليزية</h5>
                <a routerLink="/subjects" class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="service-item d-flex flex-column text-center rounded">
                <div class="service-icon flex-shrink-0">
                  <img src="assets/img/chat-messages-right-side-white-background.jpg" class="img-fluid" alt="">
                </div>
                <h5 class="mb-3">اللغة الإنجليزية</h5>
                <a routerLink="/subjects" class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="service-item d-flex flex-column text-center rounded">
                <div class="service-icon flex-shrink-0">
                  <img src="assets/img/chat-messages-right-side-white-background.jpg" class="img-fluid" alt="">
                </div>
                <h5 class="mb-3">اللغة الإنجليزية</h5>
                <a routerLink="/subjects" class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="service-item d-flex flex-column text-center rounded">
                <div class="service-icon flex-shrink-0">
                  <img src="assets/img/chat-messages-right-side-white-background.jpg" class="img-fluid" alt="">
                </div>
                <h5 class="mb-3">اللغة الإنجليزية</h5>
                <a routerLink="/subjects" class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="service-item d-flex flex-column text-center rounded">
                <div class="service-icon flex-shrink-0">
                  <img src="assets/img/chat-messages-right-side-white-background.jpg" class="img-fluid" alt="">
                </div>
                <h5 class="mb-3">اللغة الإنجليزية</h5>
                <a routerLink="/subjects" class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="service-item d-flex flex-column text-center rounded">
                <div class="service-icon flex-shrink-0">
                    <img src="assets/img/chat-messages-right-side-white-background.jpg" class="img-fluid" alt="">
                </div>
                <h5 class="mb-3">اللغة الإنجليزية</h5>
                <a routerLink="/subjects" class="btn btn-square" href=""><i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
    </div>
</section>