/* You can add global styles to this file, and also import other style files */

body{
    overflow-x:hidden ;
    box-sizing: border-box;
}
.hero-header {
  padding: 10rem 0px;
  border-radius: 0px 0px 130px 130px;
}
