<div class="box">
  <div class="theme">

  </div>
  <div class="theme2"></div>
</div>
<div class="loging-box p-5">
  <div class="logo-btn">
    <div class="logo-box">
      <img class="w-100" src="../../../assets/logo/Logo Files/For Web/svg/Color logo - no background.svg" alt="">
    </div>
    <div class="btn-box">
      <button type="button" class="btn btn-primary mx-3">Login</button>
      <button type="button" class="btn btn-secondary">Register</button>
    </div>
  </div>
  <div class="login-form">
    <h3>Wellcome!</h3>
    <p>SIGN INTO YOUR ACCOUNT</p>
    <form action="">
      <div class="input-group mb-3">
        <div class="input-box py-3">
          <label for="email">Email address</label>
          <input type="email" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
        <div class="input-box py-4">
          <label for="email">Password</label>
          <input type="password" class="form-control" aria-label="Sizing example input"
            aria-describedby="inputGroup-sizing-default">
        </div>
      </div>
      <div class="chick">
        <div class="form-check p-4">
          <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
          <label class="form-check-label" for="flexCheckDefault">
            Remember me
          </label>
        </div>
        <a href="">Forget your password?</a>
      </div>

      <button type="button" class="btn btn-warning d-block px-5 my-4">Login</button>

        <a href="" class="my-5">Help & Support</a>

      <div class="icons my-2 py-3">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-twitter"></i>
        <i class="fa-brands fa-google"></i>
        <i class="fa-brands fa-linkedin"></i>
        <i class="fa-brands fa-pinterest"></i>
        <i class="fa-brands fa-youtube"></i>
      </div>
    </form>
  </div>
</div>
